{{ define "home" -}}
{{- template "header" . -}}
<div role="main" class="container">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Robot Stuff, Beep Boop</h1>
            </div>
        </div>
    </div>
</div><!-- /.container -->
{{- template "footer" . -}}
{{- end }}