html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.centerbox {
    width: 100%;
    padding: 15px;
    margin: auto;
}

.centerbox .form-control {
    margin-bottom: 20px;
}
